version: '3'

services:
  teste-postgres-compose:
    image: postgres:12
    environment:
      POSTGRES_PASSWORD: "password"
    ports:
      - "5432:5432"
    networks:
      - postgres-compose-network
    volumes:
      - /home/lucas/Documentos/reactit_gitlab/celer/data:/var/lib/postgresql/data 
      
  teste-pgadmin-compose:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@admin"
      PGADMIN_DEFAULT_PASSWORD: "password"
    ports:
      - "3000:80"
    depends_on:
      - teste-postgres-compose
    networks:
      - postgres-compose-network

networks: 
  postgres-compose-network:
    driver: bridge